OPTIONS=--loglevel=2 --listen=https://0.0.0.0:8443 --master=https://{{ inventory_hostname }}:8443
CONFIG_FILE=/etc/origin/master/master-config.yaml
#OPENSHIFT_DEFAULT_REGISTRY=docker-registry.default.svc.cluster.local:5000
