admissionConfig:
  pluginConfig:
    BuildDefaults:
      configuration:
        apiVersion: v1
        env:
        - name: HTTP_PROXY
          value: http://usproxy.na.xxxxxx.com:8080
        - name: NO_PROXY
          value: .bbydmz.com,.cluster.local,.na.xxxxxx.com,.svc,10.2.0.0/16,168.94.217.158,168.94.217.159,168.94.217.173,172.32.0.0/16,docker-registry.default.svc.cluster.local,registry.prod-ocp.na.xxxxxx.com,pdh10ocppch01.bbydmz.com,pdh10ocppch02.bbydmz.com,pdh10ocppch03.bbydmz.com,pdl10ocpcin01.na.xxxxxx.com,pdl10ocpcin02.na.xxxxxx.com,pdl10ocpcin03.na.xxxxxx.com,pdl10ocpcma01.na.xxxxxx.com,pdl10ocpcma02.na.xxxxxx.com,pdl10ocpcma03.na.xxxxxx.com,pdl10ocppin01.bbydmz.com,pdl10ocppin02.bbydmz.com,pdl10ocppin03.bbydmz.com,pdl10ocpdin01.bbydmz.com,pdl10ocpdin02.bbydmz.com,pdl10ocpdin03.bbydmz.com,pdh10ocpdch01.bbydmz.com,pdh10ocpdch02.bbydmz.com
        - name: http_proxy
          value: http://usproxy.na.xxxxxx.com:8080
        - name: no_proxy
          value: .bbydmz.com,.cluster.local,.na.xxxxxx.com,.svc,10.2.0.0/16,168.94.217.158,168.94.217.159,168.94.217.173,172.32.0.0/16,docker-registry.default.svc.cluster.local,registry.prod-ocp.na.xxxxxx.com,pdh10ocppch01.bbydmz.com,pdh10ocppch02.bbydmz.com,pdh10ocppch03.bbydmz.com,pdl10ocpcin01.na.xxxxxx.com,pdl10ocpcin02.na.xxxxxx.com,pdl10ocpcin03.na.xxxxxx.com,pdl10ocpcma01.na.xxxxxx.com,pdl10ocpcma02.na.xxxxxx.com,pdl10ocpcma03.na.xxxxxx.com,pdl10ocppin01.bbydmz.com,pdl10ocppin02.bbydmz.com,pdl10ocppin03.bbydmz.com,pdl10ocpdin01.bbydmz.com,pdl10ocpdin02.bbydmz.com,pdl10ocpdin03.bbydmz.com,pdh10ocpdch01.bbydmz.com,pdh10ocpdch02.bbydmz.com
        gitHTTPProxy: http://usproxy.na.xxxxxx.com:8080
        gitNoProxy: .bbydmz.com,.cluster.local,.na.xxxxxx.com,.svc,10.2.0.0/16,168.94.217.158,168.94.217.159,168.94.217.173,172.32.0.0/16,docker-registry.default.svc.cluster.local,registry.prod-ocp.na.xxxxxx.com,pdh10ocppch01.bbydmz.com,pdh10ocppch02.bbydmz.com,pdh10ocppch03.bbydmz.com,pdl10ocpcin01.na.xxxxxx.com,pdl10ocpcin02.na.xxxxxx.com,pdl10ocpcin03.na.xxxxxx.com,pdl10ocpcma01.na.xxxxxx.com,pdl10ocpcma02.na.xxxxxx.com,pdl10ocpcma03.na.xxxxxx.com,pdl10ocppin01.bbydmz.com,pdl10ocppin02.bbydmz.com,pdl10ocppin03.bbydmz.com,pdl10ocpdin01.bbydmz.com,pdl10ocpdin02.bbydmz.com,pdl10ocpdin03.bbydmz.com,pdh10ocpdch01.bbydmz.com,pdh10ocpdch02.bbydmz.com
        kind: BuildDefaultsConfig
        resources:
          limits:
            cpu: 250m
            memory: 4Gi
          requests:
            cpu: 100m
            memory: 2Gi
    BuildOverrides:
      configuration:
        apiVersion: v1
        kind: BuildOverridesConfig
    PodPreset:
      configuration:
        apiVersion: v1
        disable: false
        kind: DefaultAdmissionConfig
    openshift.io/ImagePolicy:
      configuration:
        apiVersion: v1
        executionRules:
        - matchImageAnnotations:
          - key: images.openshift.io/deny-execution
            value: 'true'
          name: execution-denied
          onResources:
          - resource: pods
          - resource: builds
          reject: true
          skipOnResolutionFailure: true
        kind: ImagePolicyConfig
aggregatorConfig:
  proxyClientInfo:
    certFile: aggregator-front-proxy.crt
    keyFile: aggregator-front-proxy.key
apiLevels:
- v1
apiVersion: v1
assetConfig:
  extensionScripts:
  - /etc/origin/master/openshift-ansible-catalog-console.js
  loggingPublicURL: https://kibana.prod-ocp.na.xxxxxx.com
  logoutURL: ""
  masterPublicURL: https://master-hdc.prod-ocp.na.xxxxxx.com:8443
  metricsPublicURL: https://metrics.prod-ocp.na.xxxxxx.com/hawkular/metrics
  publicURL: https://master-hdc.prod-ocp.na.xxxxxx.com:8443/console/
  servingInfo:
    bindAddress: 0.0.0.0:8443
    bindNetwork: tcp4
    certFile: master.server.crt
    clientCA: ""
    keyFile: master.server.key
    maxRequestsInFlight: 0
#    namedCertificates:
#    - certFile: master-hdc.prod-ocp.na.xxxxxx.com.crt
#      keyFile: master-hdc.prod-ocp.na.xxxxxx.com.key
#      names:
#      - master-hdc.prod-ocp.na.xxxxxx.com
#      - metrics.prod-ocp.na.xxxxxx.com
#      - kibana.prod-ocp.na.xxxxxx.com
#      - registry-console-default.prod-ocp.na.xxxxxx.com
#      - registry.prod-ocp.na.xxxxxx.com
    requestTimeoutSeconds: 0
authConfig:
  requestHeader:
    clientCA: front-proxy-ca.crt
    clientCommonNames:
    - aggregator-front-proxy
    extraHeaderPrefixes:
    - X-Remote-Extra-
    groupHeaders:
    - X-Remote-Group
    usernameHeaders:
    - X-Remote-User
controllerConfig:
  election:
    lockName: openshift-master-controllers
  serviceServingCert:
    signer:
      certFile: service-signer.crt
      keyFile: service-signer.key
controllers: '*'
corsAllowedOrigins:
- (?i)//127\.0\.0\.1(:|\z)
- (?i)//localhost(:|\z)
- (?i)//168\.94\.217\.158(:|\z)
- (?i)//master\-hdc\.prod\-ocp\.na\.xxxxxx\.com(:|\z)
- (?i)//kubernetes\.default(:|\z)
- (?i)//172\.32\.0\.1(:|\z)
- (?i)//kubernetes\.default\.svc\.cluster\.local(:|\z)
- (?i)//kubernetes(:|\z)
- (?i)//openshift\.default(:|\z)
- (?i)//pdl10ocpcma01\.na\.xxxxxx\.com(:|\z)
- (?i)//openshift\.default\.svc(:|\z)
- (?i)//openshift\.default\.svc\.cluster\.local(:|\z)
- (?i)//kubernetes\.default\.svc(:|\z)
- (?i)//openshift(:|\z)
dnsConfig:
  bindAddress: 0.0.0.0:8053
  bindNetwork: tcp4
etcdClientInfo:
  ca: master.etcd-ca.crt
  certFile: master.etcd-client.crt
  keyFile: master.etcd-client.key
  urls:
  - https://{{ inventory_hostname }}:2379
  - https://{{ master0 }}:2379
  - https://{{ master1 }}:2379
etcdStorageConfig:
  kubernetesStoragePrefix: kubernetes.io
  kubernetesStorageVersion: v1
  openShiftStoragePrefix: openshift.io
  openShiftStorageVersion: v1
imageConfig:
  format: openshift3/ose-${component}:${version}
  latest: false
imagePolicyConfig:
  internalRegistryHostname: docker-registry.default.svc.cluster.local:5000
  externalRegistryHostname: registry.prod-ocp.na.xxxxxx.com
kind: MasterConfig
kubeletClientInfo:
  ca: ca-bundle.crt
  certFile: master.kubelet-client.crt
  keyFile: master.kubelet-client.key
  port: 10250
kubernetesMasterConfig:
  apiServerArguments:
    runtime-config:
    - apis/settings.k8s.io/v1alpha1=true
    storage-backend:
    - etcd3
    storage-media-type:
    - application/vnd.kubernetes.protobuf
    experimental-encryption-provider-config:
    - /etc/origin/master/encryption-config.yaml
  controllerArguments:
  masterCount: 3
  masterIP: {{ ansible_default_ipv4.address }}
  podEvictionTimeout:
  proxyClientInfo:
    certFile: master.proxy-client.crt
    keyFile: master.proxy-client.key
  schedulerArguments:
  schedulerConfigFile: /etc/origin/master/scheduler.json
  servicesNodePortRange: ""
  servicesSubnet: 172.32.0.0/16
  staticNodeNames: []
masterClients:
  externalKubernetesClientConnectionOverrides:
    acceptContentTypes: application/vnd.kubernetes.protobuf,application/json
    burst: 400
    contentType: application/vnd.kubernetes.protobuf
    qps: 200
  externalKubernetesKubeConfig: ""
  openshiftLoopbackClientConnectionOverrides:
    acceptContentTypes: application/vnd.kubernetes.protobuf,application/json
    burst: 600
    contentType: application/vnd.kubernetes.protobuf
    qps: 300
  openshiftLoopbackKubeConfig: openshift-master.kubeconfig
masterPublicURL: https://master-hdc.prod-ocp.na.xxxxxx.com:8443
networkConfig:
  clusterNetworkCIDR: 10.2.0.0/16
  clusterNetworks:
  - cidr: 10.2.0.0/16
    hostSubnetLength: 9
  externalIPNetworkCIDRs:
  - 0.0.0.0/0
  hostSubnetLength: 9
  networkPluginName: redhat/openshift-ovs-multitenant
  serviceNetworkCIDR: 172.32.0.0/16
oauthConfig:
  assetPublicURL: https://master-hdc.prod-ocp.na.xxxxxx.com:8443/console/
  grantConfig:
    method: auto
  identityProviders:
  - challenge: true
    login: true
    mappingMethod: claim
    name: Active_Directory
    provider:
      apiVersion: v1
      attributes:
        email:
        - mail
        id:
        - sAMAccountName
        name:
        - sAMAccountName
        preferredUsername:
        - uid
      bindDN: cn=bca-s-oshift-prod-ad,ou=Service Accounts,ou=Users,ou=Best Buy Canada,dc=ca,dc=xxxxxx,dc=com
      bindPassword: GE95pxeHRQTJDbqWguQ6DfJC4WqhB8
      ca: ""
      insecure: true
      kind: LDAPPasswordIdentityProvider
      url: ldap://ad-ca.ca.xxxxxx.com/ou=Users,ou=Best Buy Canada,dc=ca,dc=xxxxxx,dc=com?sAMAccountName?sub?(memberOf:1.2.840.113556.1.4.1941:=cn=BCA-U-OPENSHIFT-PROD-USERS,OU=Domain Security,OU=Groups,OU=Best Buy Canada,DC=ca,DC=xxxxxx,DC=com)
  - name: Local
    challenge: true
    login: true
    mappingMethod: claim
    provider:
      apiVersion: v1
      kind: HTPasswdPasswordIdentityProvider
      file: /etc/origin/master/htpasswd
  masterCA: ca-bundle.crt
  masterPublicURL: https://master-hdc.prod-ocp.na.xxxxxx.com:8443
  masterURL: https://master-hdc.prod-ocp.na.xxxxxx.com:8443
  sessionConfig:
    sessionMaxAgeSeconds: 3600
    sessionName: ssn
    sessionSecretsFile: /etc/origin/master/session-secrets.yaml
  tokenConfig:
    accessTokenMaxAgeSeconds: 86400
    authorizeTokenMaxAgeSeconds: 500
pauseControllers: false
policyConfig:
  bootstrapPolicyFile: /etc/origin/master/policy.json
  openshiftInfrastructureNamespace: openshift-infra
  openshiftSharedResourcesNamespace: openshift
projectConfig:
#  defaultNodeSelector: ""
  projectRequestMessage: "Request a Project in ServiceNow https://xxxxxx.service-now.com with proper template values"
  projectRequestTemplate: ""
  securityAllocator:
    mcsAllocatorRange: s0:/2
    mcsLabelsPerProject: 5
    uidAllocatorRange: 1000000000-1999999999/10000
routingConfig:
  subdomain: prod-ocp.na.xxxxxx.com
serviceAccountConfig:
  limitSecretReferences: false
  managedNames:
  - default
  - builder
  - deployer
  masterCA: ca-bundle.crt
  privateKeyFile: serviceaccounts.private.key
  publicKeyFiles:
  - serviceaccounts.public.key
servingInfo:
  bindAddress: 0.0.0.0:8443
  bindNetwork: tcp4
  certFile: master.server.crt
  clientCA: ca.crt
  keyFile: master.server.key
  maxRequestsInFlight: 500
#  namedCertificates:
#  - certFile: master-hdc.prod-ocp.na.xxxxxx.com.crt
#    keyFile: master-hdc.prod-ocp.na.xxxxxx.com.key
#    names:
#    - master-hdc.prod-ocp.na.xxxxxx.com
#    - metrics.prod-ocp.na.xxxxxx.com
#    - kibana.prod-ocp.na.xxxxxx.com
#    - registry-console-default.prod-ocp.na.xxxxxx.com
#    - registry.prod-ocp.na.xxxxxx.com
  requestTimeoutSeconds: 3600
volumeConfig:
  dynamicProvisioningEnabled: true
