apiVersion: v1
kind: LimitRange
metadata:
  creationTimestamp: null
  name: core-resource-limits
spec:
  limits:
  - max:
      cpu: "{{ pod_cpu }}"
      memory: "{{ pod_mem }}Gi"
    min:
      cpu: 1m
      memory: 1Mi
    type: Pod
  - default:
      cpu: 1000m
      memory: 1Gi
    defaultRequest:
      cpu: 1000m
      memory: 1Gi
    max:
      cpu: "{{ cpuComputation }}"
      memory: "{{ memComputation }}Gi"
    maxLimitRequestRatio:
      cpu: "{{ reqRatioComputation }}"
    min:
      cpu: 1m
      memory: 1Mi
    type: Container
