apiVersion: v1
kind: ResourceQuota
metadata:
  creationTimestamp: null
  name: compute-resources-quota
spec:
  hard:
    limits.cpu: {{ cpu }}
    limits.memory: {{ mem }}Gi
    pods: "30"
status: {}
